.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.logo img {
    height: 70px;
    margin-right: 10px;
}

.logo h1 a {
    color: #3bf071;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

.nav-list ul {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-container .search {
    padding: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 6px 12px;
    background-color: #3bf071;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.nav-list :hover{
    color: #32d865;
}
.search-container button:hover {
    background-color: #32d865;
}
.layout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #78db8aae;
    margin-bottom: 20px;
}
.layout img{
    width: 30%;
}

.layout1{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #78db8aae;
    margin-bottom: 20px;
}
.layout1 img{
    width: 30%;
}

.layout2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #78db8aae;
    margin-bottom: 20px;
}
.layout2 img{
    width: 30%;
}

#container {
    text-align: center;
    width: 100%;
    border-radius: 10px;
    background-color: #3bf071;
    box-shadow: 0 0 10px black;
}

h1 {
    margin-bottom: 20px;
}

select, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}
#quranText {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: x-large;
    text-align: left;
    max-height: 400px;
    width: 100%;
    background-color: #3bf071c2;
    overflow-y: auto;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-links {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-links p, .footer-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.footer-links ul li {
    margin-bottom: 8px;
}

.footer-links ul li a {
    color: black;
    text-decoration: none;
}
.footer-links a:hover{
    color: #3bf071;
    text-decoration: underline;
}

.footer-links1 {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-links1 h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-links1 ul li {
    margin-left: -40px;
    margin-bottom: 8px;
}

.footer-links1 ul{
    list-style: none;
}

.footer-links1 ul li a {
    color: black;
    text-decoration: none;
}
.footer-links1 a:hover{
    color: #3bf071;
    text-decoration: underline;
}

.footer-links2 {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-links2 h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-links2 ul li {
    margin-left: -40px;
    margin-bottom: 8px;
}

.footer-links2 ul{
    list-style: none;
}

.footer-links2 ul li a {
    color: black;
    text-decoration: none;
}
.footer-links2 a:hover{
    color: #3bf071;
    text-decoration: underline;
}

.footer-bottom {
    background-color:#3bf0714a;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    display: inline-flex;
    text-decoration: none;
    color: black;
}

.social-icons a:hover{
    color: #3bf071;
    text-decoration:underline;
    transition-duration: 800ms;
}

.social-icons img {

    width: 24px;
    height: 24px;
}